* { 
box-sizing: border-box; 
}

body{

	font-family: cursive;
	background-color: #81d4cb;
}

h1 {
text-align: center;
font-size: 1.75em;
}

.title {
position: absolute;
top: 0;
width: 100px;
text-align: center;
right: 0;
border:2px solid black;
font-size: 1.25em;
}
#section1, #section2, #section3 {
padding: 12px;
}

#section1 .content, #section2 .content, #section3 .content {
font-size: 1em;
background-color: #f1eace; 
position: relative;
border:2px solid black;
padding-top: 12px;
height: 190px;
overflow: auto;
}
 
#section1 .title {
background-color: #d9a2c8;
}

#section2 .title {
background-color: #8da0af;
}
#section3 .title {
background-color: #149a43;
}
/* desktop  */
@media (min-width: 992px) {
#section1, #section2, #section3 {
float: left;
width: 33%;
} 
}
/*tablet*/
@media (min-width:768px) and (max-width: 992px) {
#section1, #section2, #section3 {
float: left;
} 
#section1, #section2 {
width: 49.7%;
}
#section3 {
width: 100%;
}

}

/*mobile*/
@media (max-width: 767px) {
#section1, #section2, #section3 {
float: left;
width: 100%;
} 

}
